<a href="https://colab.research.google.com/github/SafieDeme9/Safs100daysofcode/blob/main/Algo_newbie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_excel('AlgoNewbie.xlsx')
print(df)

                Horodateur  ...                        Quelles sont vos attentes ?
0  2021-11-05 12:34:14.011  ...  Être capable de comprendre et d'écrire des lig...
1  2021-11-05 12:34:15.816  ...                                     Surprenez moi!
2  2021-11-05 12:35:17.263  ...                           Maîtriser python et html
3  2021-11-05 12:36:16.533  ...                                Aucune particulière
4  2021-11-05 12:37:06.678  ...                        Améliorer mes connaissances
..                     ...  ...                                                ...
69 2021-11-08 21:13:36.616  ...       M'améliorer en programmation grâce au groupe
70 2021-11-09 14:59:42.810  ...                     Connaître de nouvelles choses
71 2021-11-12 02:32:28.019  ...  L'amélioration de mes capacités actuellement. ...
72 2021-11-14 21:08:35.810  ...                 Apprendre de nouvelles choses ....
73 2021-11-14 23:23:36.334  ...                      m’améliorer en programmation

[74 rows x 12 columns]

In [ ]:
df.shape

(74, 12)

In [ ]:
df.head()

               Horodateur  ...                        Quelles sont vos attentes ?
0 2021-11-05 12:34:14.011  ...  Être capable de comprendre et d'écrire des lig...
1 2021-11-05 12:34:15.816  ...                                     Surprenez moi!
2 2021-11-05 12:35:17.263  ...                           Maîtriser python et html
3 2021-11-05 12:36:16.533  ...                                Aucune particulière
4 2021-11-05 12:37:06.678  ...                        Améliorer mes connaissances

[5 rows x 12 columns]

In [ ]:
df['Niveau en programmation']

0     Débutant absolu
1       Intermédiaire
2     Débutant absolu
3       Intermédiaire
4       Intermédiaire
           ...
69           Débutant
70      Intermédiaire
71      Intermédiaire
72           Débutant
73           Débutant
Name: Niveau en programmation, Length: 74, dtype: object

In [ ]:
data = df.drop(['Horodateur','Filière dans laquelle vous avez obtenu ce diplome','Profession','Quels sont les langages de programmation que vous maitrisez ?','Votre lien github','Qu\'est ce qui vous a poussé à rejoindre le groupe ?','Quelles sont vos attentes ?'], axis = 1)
data

                  Adresse e-mail  ... Niveau en programmation
0       dioufaicha1992@gmail.com  ...         Débutant absolu
1        juniorthioune@gmail.com  ...           Intermédiaire
2   khadimrassoulfall2@gmail.com  ...         Débutant absolu
3         moustaphakachab@esp.sn  ...           Intermédiaire
4         hawawout2000@gmail.com  ...           Intermédiaire
..                           ...  ...                     ...
69      adjabineta2015@gmail.com  ...                Débutant
70         souadouba99@gmail.com  ...           Intermédiaire
71         pahmadoudou@gmail.com  ...           Intermédiaire
72         blackXOhoax@gmail.com  ...                Débutant
73  mamadoujunior2002@icloud.com  ...                Débutant

[74 rows x 5 columns]

In [ ]:
df1 = data[data["Niveau en programmation"] == "Débutant"]
df1.to_excel('debutant.xlsx')

In [ ]:
df2 = data[data["Niveau en programmation"] == "Débutant"]
df2.to_excel('debutantabsolu.xlsx')

                     Adresse e-mail  ... Niveau en programmation
0          dioufaicha1992@gmail.com  ...         Débutant absolu
2      khadimrassoulfall2@gmail.com  ...         Débutant absolu
5           pipakhosa.pms@gmail.com  ...         Débutant absolu
6             falilou1999@gmail.com  ...         Débutant absolu
9              danydiatou@gmail.com  ...         Débutant absolu
13  diakhateserignesaliou@gmail.com  ...         Débutant absolu
18            diambaye372@gmail.com  ...         Débutant absolu
19            amdysamb202@gmail.com  ...         Débutant absolu
20           cheikhdeme17@gmail.com  ...         Débutant absolu
23              modiouf68@gmail.com  ...         Débutant absolu
26             aluezba123@gmail.com  ...         Débutant absolu
31           modouniasse2@gmail.com  ...         Débutant absolu
33              mohamed.n@22bet.com  ...         Débutant absolu
44             papounedia@gmail.com  ...         Débutant absolu
56     ngomndionemassamba@gmail.com  ...         Débutant absolu
66        alioune.diene45@gmail.com  ...         Débutant absolu

[16 rows x 5 columns]